{% load static %}
<!-- <!DOCTYPE html>
<html>
<head>
    <title>Welcome to Chai's Django Project</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Welcome to Django Project</h1>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="{% static 'css/logincss.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Schoolbell&display=swap" rel="stylesheet">
</head>
<body>
    <!-- <nav class="navbar">
        <img class="navbar-brand">
            <img src="{% static 'img/logo.jpg' %}" style="width: 60px; height: 50px;">
            <span>Public Library</span>
        </img>
        <button class="navbar-home" style="margin-right: 20px;">Home</button>
    </nav> -->
    <header>
        <div class="logo">
            <a href="{% url 'home' %}" ><img src="{% static 'img/logo.jpg' %}" alt="Library Logo"></a>
            <a onclick="window.location.href='{% url 'home' %}'" ><h1>Public Library</h1></a>
            
        </div>
        <button class="login-btn" onclick="window.location.href='{% url 'login' %}'">Login</button>

    </header>
    <div class="main">
    <div class="login-container">
        <form action="{% url 'register' %}" class="login-form" method="post">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="firstname">First Name</label>
            <input type="text" id="firstname" name="firstname">
            <label for="lastname">Last Name</label>
            <input type="text" id="lastname" name="lastname">
            <label for="email">Email</label>
            <input type="text" id="email" name="email">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <button type="submit">Register</button>
        </form>        
        <div class="signup-options">
            <p>Signup using Google</p>
            <p>Signup using email address</p>
        </div>
    </div>
</div>
</body>
</html>
