{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Result</title>
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        function searchBooks() {
            var searchTerm = document.getElementById('searchInput').value.trim(); 
    
            if (searchTerm === '') {
                alert('Please enter a search term.');
                return;
            }
    
            var url = `https://all-books-api.p.rapidapi.com/getBooks?search=${searchTerm}`;
    
            fetch(url, {
                method: 'GET',
                headers: {
                    'x-rapidapi-key': '0c0393d662mshb446aa2c351340dp198f0bjsn1a7dfd746322',
                    'x-rapidapi-host': 'all-books-api.p.rapidapi.com'
                }
            })
            .then(response => response.json())
            .then(data => {

                document.getElementById('searchResults').innerHTML = '';
    

                data.forEach(book => {
                    var bookHtml = `
                        <div class="book-item">
                            <img src="${book.bookImage}" alt="Book Cover">
                            <div class="book-info">
                                <h3>${book.bookTitle}</h3>
                                <p>${book.bookDescription}</p>
                                <span>Author: ${book.bookAuthor}</span><br>
                                <span>Publisher: ${book.bookPublisher}</span><br>
                                <a href="${book.amazonBookUrl}" target="_blank">Buy on Amazon</a>
                            </div>
                        </div>`;
                    document.getElementById('searchResults').innerHTML += bookHtml;
                });
            })
            .catch(error => console.error('Error fetching books:', error));
        }
    </script>
    
</head>
<body>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <div class="logo">
            <img src="{% static 'img/logo.jpg' %}" alt="Library Logo">
            <h1>Public Library</h1>
        </div>
        <form class="form-inline">
            <button class="login-btn" type="button" onclick="window.location.href='{% url 'home' %}'">Home</button>
            <button class="login-btn" type="button" onclick="window.location.href='{% url 'user' %}'">User</button>
            <button class="login-btn" type="button" onclick="window.location.href='{% url 'registerform' %}'">Register Form</button>
            <button class="login-btn" type="button" onclick="window.location.href='{% url 'login' %}'">Login</button>
            <input type="text" id="searchInput" placeholder="Search books by ISBN, Author, Publisher, or Title">
            <button type="button" class="search-btn" onclick="searchBooks()">Search</button>
        </form> 
      </nav>
    <div class="container">
        <main>
            <section class="search-results">
                <h2>Search Results</h2>
                <div id="searchResults"></div>
            </section>
        </main>
    </div>
</body>
</html>
